<% if current_module_project.show_results_view && controller.action_name == "dashboard"%>
  <div class="col-2 pl-4">
    <div id="results-sidebar" class="py-6">
<!--      <div class="results-sidebar-title">Résultats entrant dans le module</div>-->
<!--      <p>-->
        <%# unless current_module_project.preceding.nil? %>
<!--          Depuis <a href="#"><%#= current_module_project.preceding.name %></a>-->
          <%# current_module_project.estimation_values.where(in_out: "input").all.each do |ev| %>
            <%# value = ev.string_data_probable[current_component.id] %>
            <%# unless value.nil? || value.blank? || value.is_a?(Hash) || value == 0.0 %>
<!--              <span class="results-sidebar-value"><%#= ev %><span><%#= value.to_f %></span></span>-->
            <%# end %>
          <%# end %>
        <%# end %>
<!--      </p>-->
<!--      <div class="results-sidebar-divider"></div>-->

      <div class="results-sidebar-title"><%= I18n.t(:label_results) %></div>

      <% module_project =  current_module_project %>
      <!-- Current module_project results : only text view_widget -->
      <%= render partial: "views_widgets/dashboard_module_project_results", locals: { module_project: module_project } %>

      <div class="results-sidebar-divider"></div>
    </div>
  </div>
<% end %>
