<div class="col-3 pl-5 ml-n3">
  <div id="results-sidebar" class="py-6">
    <div class="results-sidebar-title">Résultats entrant dans le module</div>
    <p>
      Depuis <a href="#">Point de fonction</a>
      <span class="results-sidebar-value">Points de fonction<span>225 p.f</span></span>
    </p>
    <p>
      Depuis <a href="#">Trans P.F j.h.</a>
      <span class="results-sidebar-value">Valeur X<span>174 xxx</span></span>
    </p>
    <div class="results-sidebar-divider"></div>
    <div class="results-sidebar-title">RéSULTATS <span>Timecost trade off</span> APRES CALCUL</div>
    <ul class="results-sidebar-after-calculation flex-column">
      <li>
        <div class="card card-widget module-indicator module-indicator-without-module">
          <div class="card-body">
            <div class="module-indicator-type"></div>
            <div class="module-indicator-text">Effort Brut</div>
            <div class="module-indicator-quantity"><img src="../../images/employees.svg"><span>8 545</span> j.h</div>
          </div>
        </div>
      </li>
      <li>
        <div class="card card-widget module-indicator module-indicator-without-module">
          <div class="card-body">
            <div class="module-indicator-type"></div>
            <div class="module-indicator-text">Effort Brut</div>
            <div class="module-indicator-quantity"><img src="../../images/employees.svg"><span>8 545</span> j.h</div>
          </div>
        </div>
      </li>
      <li>
        <div class="card card-widget module-indicator module-indicator-without-module">
          <div class="card-body">
            <div class="module-indicator-type"></div>
            <div class="module-indicator-text">Effort Brut</div>
            <div class="module-indicator-quantity"><img src="../../images/employees.svg"><span>8 545</span> j.h</div>
          </div>
        </div>
      </li>
      <li>
        <div class="card card-widget module-indicator module-indicator-without-module">
          <div class="card-body">
            <div class="module-indicator-type"></div>
            <div class="module-indicator-text">Effort Brut</div>
            <div class="module-indicator-quantity"><img src="../../images/employees.svg"><span>8 545</span> j.h</div>
          </div>
        </div>
      </li>
    </ul>
    <div class="results-sidebar-divider"></div>
    <div class="results-sidebar-title">Résultats sortant</div>
    <p>
      Vers <a href="#">Trans P.F j.h.</a>
      <span class="results-sidebar-value">Taille<span>15 p.f</span></span>
    </p>
    <p>
      Vers <a href="#">ISBG</a>
      <span class="results-sidebar-value">Taille<span>15 p.f</span></span>
    </p>
  </div>
</div>
