<p>
  Bonjour,
</p>

<p>
  Nous vous informons que le devis <b><%= @project %></b> est passé au statut <b><%= @estimation_status.name %></b>
</p>

<p>
  Bien cordialement,
  <br>
  L'équipe Estimancy
</p>