<% for profile in @organization_profiles_list.order('name') %>
    <div>
      <%= check_box_tag "wbs_activity[organization_profile_ids][]", profile.id, @wbs_activity.organization_profiles.include?(profile) %>
      <i class="profile_description_tooltip" title="<%= profile.description %>"><%= profile.name %></i>
    </div>
<% end %>