<div class="tabs">

  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:users) %> </a></li>
  </ul>

  <div id="tabs-1">
    <div class="group_button">
        <%= link_to I18n.t('create_button'), new_user_path, :class => 'btn btn-primary btn-estimancy' %>
    </div>

    <div id="users" style="width:100%;overflow:auto;">
      <%= render :partial => 'users', :object => @users %>
    </div>

  </div>
</div>

