<div class="tabs">
  <ul>
    <li>
      <a href="#tabs-1">
        Listes des demandes
      </a>
    </li>
  </ul>

  <div id="tabs-1">
    <div class="group_button">
      <%= link_to "Créer une demande", new_organization_demand_path(@organization), class: "btn" %>
    </div>

    <table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @demands.each do |demand| %>
          <tr>
            <td><%= demand.name %></td>
            <td><%= demand.description %></td>
          </tr>
        <% end %>
      </tbody>

      <%= render :partial => 'layouts/footer_table' %>
    </table>

  </div>
</div>