
<script type="text/javascript">

    var all_view = {};

    <% multiple_r_data.keys.each_with_index do |config_name, index|  %>
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawPieChart);

        function drawPieChart() {
            <% r_data = multiple_r_data["#{config_name}"] %>;

            var r_data = <%= r_data.to_json.html_safe %>;
            var data = google.visualization.arrayToDataTable(r_data);
            var view = new google.visualization.DataView(data);

            //all_view['+ index +'] = view;


//            var data1 = google.visualization.arrayToDataTable([
//                ['Task', 'Hours per Day'],
//                ['Work',     11],
//                ['Eat',      2],
//                ['Commute',  2],
//                ['Watch TV', 2],
//                ['Sleep',    7]
//            ]);
//
//            var view1 = new google.visualization.DataView(data1);

            // Set chart options
            //var chart_colors = <%#= ViewsWidget::WIDGETS_COLORS.to_json.html_safe %>;
            var pie_chart_options = {
                title: '<%= config_name %>',
                //'min-width':500, 'min-height':300, 'max-width':1000, 'max-height':800,
                chartArea: { left:-100, right: 30, width: '90%' },
                legend: { alignment: 'start'},
                //colors: chart_colors, //['D59931', 'teal', '#e5e4e2', '#C5A5CF', 'silver', '#b87333', 'gold', '#76A7FA', '#703593', '#871B47', '#C5A5CF', '#BC5679', '#00B3FF', '#3399FF'] <%##= Projestimate::Application::CHART_COLORS.to_json.html_safe %>,
                is3D: false //true
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('<%= "pie_chart_div_#{iwidget.id}_#{index}" %>'));
            chart.draw(view, pie_chart_options);
        }
    <% end %>
</script>


<!--Div that will hold the pie chart-->
<% multiple_r_data.keys.each_with_index do |config_name, index| %>
    <div id='<%= "pie_chart_div_#{iwidget.id}_#{index}" %>' style="min-width: 600px; min-height: 400px; max-width: 100%; max-height: 100%;">
    </div>
<% end %>
