<div class="collapse in" id="collapseProduct" style="height: 217px;">
    <div class="widget-content resizableProduct">
      <p>
        <%= raw(@project.description.to_s.truncate(440)) %>
        <% unless current_module_project.nil? %>
          <% wbs_activity = current_module_project.wbs_activity %>
          <% unless wbs_activity.nil? %>
            <%= wbs_activity.description %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>

</div>


<%# end %>

<!-- show selected view for each module project -->
<!-- The results boxes will be arranged as in the estimation plan -->
<div id="output_data_view_widgets_results">
  <%= render :partial => 'views_widgets/dashboard_views_widgets_results', object: [@module_positions, @module_positions_x, @wbs_activity_ratio] %>
</div>

<!-- The Estimation graph -->
<!--<div id="show_estimation_graph">-->
<!--</div>-->

<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $(".date-picker").datepicker({-->
<!--            language: '<%# set_user_language %>',-->
<!--            autoclose: true,-->
<!--            todayHighlight: true,-->
<!--            todayBtn: true-->
<!--        }).on("hide", function (e) {-->
<!--            $.ajax({-->
<!--                url: "check_attribute",-->
<!--                type: 'POST',-->
<!--                data: "value=" + this.value + "&level=" + this.className.split(/\s/)[1] + "&est_val_id=" + this.className.split(/\s/)[2]-->
<!--            })-->
<!--         });-->

<!--    });-->
<!--// </script>-->


<!--Load the AJAX API-->
<!--<script type="text/javascript">-->
<!--    // Load the Visualization API and the corechart package.-->
<!--    // google.charts.load('current', {'packages':['corechart']});-->
<!--</script>-->

