<% unless @adv_search_hash.length == 0 %>
  <h1> Projets </h1>
  <table class="table table-list">
    <% @adv_search_hash.each do |key, valeur| %>
        <tr class="">
          <th><strong><%= key %></strong></th>
        </tr>
          <% unless valeur.blank? %>
              <% valeur.each do |val|  %>
                <tr>
                  <td><%= val %></td>
                </tr>
              <% end %>
          <% else %>
              <tr><td> --- </td></tr>
          <% end %>
        <% end %>
  </table>
<% else %>
  <%= "Aucun résultat correspond à la recherche" %>
<% end %>
