h2, h5, h6{
  margin: 0;
}

.unclickable:hover{
  cursor: default;
}

.modal-header{
  display: block;
}

.estimancy-form{
margin-top: 30px
}

.card-overview-icons{
  min-height: 950px;
}

h4.modal-title{
  margin-top: 0px;
}

.select-estimancy{
  margin-bottom: 20px;
}

.form-control{
  //padding: 0;
  //margin-bottom: 10px;
}

.label-estimancy {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #828282;
  top: 30px;
}

a:hover.no-underline {
  text-decoration: none;
}

.estimancy, span.estimancy, span.estimancy a, th a.estimancy {
  color: #007DAB;
}

.btn-estimancy {
  margin-left: 5px;
}

#edition-sidebar {
  position: static;
  //height : 50px;
  //width: 100%;
}

.table-list{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}

.module_box{
  width: 100%;
  height: 1000px;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  overflow-y: auto;
}

.module_project{
  /*border: 1px solid #ddd;*/
  //padding: 10px;

  //background: #3498db;
  //background: -moz-linear-gradient(top,#3498db 0%,#2980b9 100%);
  //background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3498db),color-stop(100%,#2980b9));
  //background: -webkit-linear-gradient(top,#3498db 0%,#2980b9 100%);
  //background: -o-linear-gradient(top,#3498db 0%,#2980b9 100%);
  //background: -ms-linear-gradient(top,#3498db 0%,#2980b9 100%);
  //background: linear-gradient(to bottom,#3498db 0%,#2980b9 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498db',endColorstr='#2980b9',GradientType=0);

  //display: block;
  //color: white;

  //box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.51);
  //-webkit-border-radius: 2px;
  //-moz-border-radius: 2px;
  //border-radius: 2px;
  //
  //z-index: 20;

  /* ajout pour jsplumb draggable*/
  position: absolute;
  /*left: 0;  right: 0;*/

  /*max-width: 140px;*/
  //width: 140px;
  //height: auto;

  /* fin ajout */

  /*margin-left:auto;*/
  /*margin-right:auto;*/
}

.tools a {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  color: $grey-light;
  outline: 0;
  cursor: pointer;
  padding: 0 0.2rem;
}

.hide{
  display: none;
}

table td.guw-cell-ajustment{
  vertical-align: middle;
}

.notifications_fixed_top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0px;
  z-index: 99
}

 .group_button{
   margin-bottom: 10px;
   width: 100%;
 }

.group_button a{
  float: right;
  display: block;
}

.text_center {
  text-align: center !important;
}


//.grid-stack-item-content {
//  padding: 3px;
//}


.grid-stack > .grid-stack-item > .ui-resizable-se, .grid-stack > .grid-stack-item > .ui-resizable-sw {
  //margin-bottom: 2rem;
  margin-bottom: 0.3rem;
}

//.grid-stack > .grid-stack-item > .card.card-indicator .card-body{
//  padding: 1.5rem 1.3rem 1.5rem 0;
//}
//
//.grid-stack .card-body{
//  padding: unset;
//}


.grid-stack > .grid-stack-item .card-body{
  padding: 1.5rem 1.3rem 1.5rem 0 !important;
  //padding: 0.25rem;
}

.dragme {
  display: none; /* Hide button */
}

.grid-stack-item:hover .dragme {
  display: block; /* On :hover of div show button */
}

//.grid-stack .grid-stack-item .grid-stack-item-content,
//.grid-stack .grid-stack-item .placeholder-content {
//  left: 2px;
//  right: 2px;
//  bottom: -4px;
//  top: -6px;
//}


//.grid-stack .grid-stack-placeholder > .placeholder-content {
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//}
//.grid-stack > .grid-stack-item > .grid-stack-item-content {
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//}
//
.grid {
  border: 2px solid #ddd;
  width: 50%;
  min-height: 300px;
  height: auto;
}
