.select-estimancy{
  margin-bottom: 20px;
}

.label-estimancy {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #828282;
  top: 30px;
}

a:hover.no-underline {
  text-decoration: none;
}

th a.estimancy, a.estimancy {
  color: #007DAB;
}

.btn-estimancy {
  margin-left: 5px;
}

#edition-sidebar {
  position: static;
  //height : 50px;
  //width: 100%;
}

//////////// FIN AJOUTS NRE ////////////
