.card.estimation-overview {
  font-family: "Roboto";
  margin-left: 40px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;

  &:before {
    width: 40px;
    height: calc(100% - 38px);
    left: -40px;
    box-shadow: -5px 3px 7px -5px rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  &:after {
    left: -28px;
    bottom: 11px;
    height: 56px;
    width: 56px;
    box-shadow: -4px 0px 7px -5px rgba(0, 0, 0, 0.2);
  }

  & > .card-body {
    padding: 1.9rem 3.8rem 1.9rem 0;
  }

  .close-button {
    position: absolute;
    right: 6px;
    top: 10px;
    font-size: 24px;
    color: $grey-light;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .estimation-overview-title {
    font-size: 28px;
    line-height: 36px;
    color: $brand-third-color;
    margin-bottom: 0;
  }

  .estimation-overview-author {
    font-size: 18px;
    line-height: 24px;
    color: $grey-extradark;
    margin-bottom: 0;
  }

  .estimation-overview-text {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: $grey-extradark;
  }

  .estimation-overview-infos {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: $grey-dark;
  }

  .estimation-overview-info-number {
    font-size: 17px;
    line-height: 24px;
    color: $grey-dark;
    span {
      font-family: "Roboto";
      font-weight: bold;
      font-size: 27px;
      line-height: 36px;
      color: $grey-extradark;
    }
  }

  .estimation-overview-phase-table {
    width: 100%;

    th {
      font-family: "Roboto";
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      text-align: right;
      letter-spacing: 0.02em;
      color: $grey-70;

      &:first-child {
        line-height: 30px;
        text-align: left;
        color: $brand-third-color;
      }
    }

    td {
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      letter-spacing: 0.02em;
      color: $grey-extradark;
      padding: 0.3rem 0;

      &:first-child {
        text-align: left;
        color: $grey-70;
      }
    }
  }
}