.estimation-template-list {
  font-family: "Roboto";

  .estimation-template-list-filter {
    padding: 2rem 0 3rem;

    label {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: $grey-extradark;
    }

    .template-search-bar-prepend {
      position: absolute;
      left: 1px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;

      span {
        background-color: white;
        border: 0;
        i {
          color: $brand-first-color;
          font-size: 18px;
        }
      }
    }

    .template-search-bar-input {
      font-family: "Roboto";
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: $grey-extradark;
      border: 1px solid #007DAB;
      padding-left: 2.8rem;
      border-radius: 4px !important;
      width: 50%;
      flex-grow: 0;
    }
  }

  .estimation-template-table {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 100%;

    & > thead > tr {
      height: 67px;

      & > th {
        font-size: 14px;
        line-height: normal;
        text-align: center;
        color: $grey-dark;
        -webkit-font-smoothing: antialiased;
        border: 0;
        border-bottom: 3px solid #E9E9E9;
        background-color: white;
        padding: 1.2rem 1rem;
        white-space: nowrap;
        vertical-align: middle;

        &.estimation-template-table-name-heading {
          color: $grey-extradark
        }

        &:first-child {
          width: 45%;
          padding-left: 4rem
        }

        &:last-child {
          width: 40%
        }
      }
    }

    & > tbody {
      & > tr {
        &.selected,
        &:hover {
          & > td:first-child {
            &:before {
              content: '';
              position: absolute;
              margin-top: -20px;
              left: 0;
              width: 100%;
              height: 59px;
              border: 1px solid #E9E9E9;
              box-sizing: border-box;
              box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
              border-right: 0;
              z-index: -1;
            }
          }
        }

        &.selected {
          & > td:first-child {

            &:before {
              width: 46%;
            }

            &:after {
              content: '';
              position: absolute;
              left: calc(45% - 4px);
              width: 12px;
              height: 57px;
              margin-top: calc(-2rem + 1px);
              background-color: white;
              z-index: 3
            }
          }
        }

        & > td {
          font-size: 16px;
          line-height: 19px;
          color: $brand-sixth-color;
          border: 0;
          border-bottom: 1px solid #E9E9E9;
          background-color: white;
          vertical-align: middle;
          height: 60px;
          padding: 0 1rem;

          &.estimation-template-table-name-cell {
            font-family: "Roboto";
            font-weight: bold;
            color: $grey-extradark;
            text-decoration: underline;
            white-space: nowrap
          }

          & > span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 60px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }

          &:first-child {
            padding-left: 4rem
          }
        }
      }
    }
  }
}

.new-template-link {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: $grey-extradark;
  margin-left: 3rem
}