#modules-sidebar {
  background-color: white;
  text-transform: uppercase;
  padding-left: 1.8rem;
  height: 100%;
  border-right: 1px solid #E9E9E9;
  position: relative;
  margin-top: 27px;

  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $grey-medium;
    padding: 1.5rem 0;
  }

  .nav {
    border-bottom: 1px solid #E9E9E9;

    .nav-item {
      border-top: 1px solid #E9E9E9;

      .nav-link {
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $grey-extradark;
        white-space: normal;
        padding: 2rem 0;
        position: relative;

        &:active, &:focus, &.active {
          background-color: $brand-fifth-color;
          color: white;

          &:before{
            content: "";
            position: absolute;
            left: -15px;
            top: 0;
            height: calc(100% - 14px);
            width: 15px;
            background-color: $brand-fifth-color;
            box-sizing: border-box;
            display: block;
          }

          &:after{
            content: "";
            position: absolute;
            transform: rotate(-45deg);
            display: block;
            background-color: $brand-fifth-color;
            left: -10px;
            bottom: 4px;
            height: 20px;
            width: 20px;
          }
        }

        span {
          display: block;
          position: relative;
        }

        i {
          color: white;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 14px;
        }
      }
    }
  }

  .modules-sidebar-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $brand-third-color;
    padding: 1.3rem 0;
    display: flex;
    align-items: center;

    &:before {
      content: '\e5cc';
      font-family: 'Material Icons';
      font-size: 20px;
      color: $brand-third-color;
      padding: 0.3rem;
    }
  }
}