// import bootstrap
//@import 'bootstrap/bootstrap-user-variables';
//@import 'bootstrap/bootstrap-reboot';
//@import 'bootstrap/bootstrap';
//@import 'bootstrap/bootstrap-grid';

// import the basics
//@import "default/colors";
//@import "fonts";
//@import "normalize";

h2 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: $brand-first-color;
}