// import bootstrap
//@import 'bootstrap/bootstrap-user-variables';
//@import 'bootstrap/bootstrap-reboot';
//@import 'bootstrap/bootstrap';
//@import 'bootstrap/bootstrap-grid';

// import the basics
//@import "default/colors";
//@import "default/fonts";
//@import "default/normalize";


.home-button {
  text-align: center;
  //height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px
}

.home-button-text {
  font-family: "Roboto";
  color: white;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 6px;
  white-space: normal;
}