// import bootstrap
//@import 'bootstrap/bootstrap-user-variables';
//@import 'bootstrap/bootstrap-reboot';
//@import 'bootstrap/bootstrap';
//@import 'bootstrap/bootstrap-grid';

// import the basics
@import "default/colors";
@import "default/fonts";
@import "bootstrap/normalize";

.card {
  background: #FFFFFF;
  box-sizing: border-box;/* Z-Index - Strong - Active */
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: 30px;

  &:before{
    content: "";
    position: absolute;
    left: -30px;
    top: -1px;
    height: calc(100% - 28px);
    width: 30px;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-top-left-radius: 3px;
    box-sizing: border-box;
    box-shadow: -6px -6px 24px -4px rgba(0, 0, 0, 0.06);
    display: block;
  }

  &:after{
    content: "";
    position: absolute;
    left: -21px;
    bottom: 8px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    height: 43px;
    width: 43px;
    transform: rotate(-45deg);
    display: block;
    background-color: white;
    box-shadow: -6px 0px 24px -4px rgba(0, 0, 0, 0.06);
  }

  &.card-widget {
    &:before {
      width: 15px;
      height: calc(100% - 12px);
      left: -15px;
      border-left: 2px solid $brand-third-color;
    }

    &:after {
      left: -10px;
      bottom: 3px;
      height: 20px;
      width: 20px;
    }

    &.card-reversed {
      margin-top: -1px;

      &:before {
        top: auto;
        bottom: -1px;
        border-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom-left-radius: 3px;
      }
      &:after {
        top: 3px;
        transform: rotate(45deg);
      }
    }
  }

  &.card-module {
    width: 165px;
    height: 120px;

    &:before {
      width: 15px;
      height: calc(100% - 12px);
      left: -15px;
    }

    &:after {
      left: -10px;
      bottom: 3px;
      height: 20px;
      width: 20px;
    }

    .card-body {
      padding: 1.5rem 0.6rem 0.7rem 0.9rem
    }
  }

  &.card-cliquable {
    &:hover {
      box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
      &:before {
        box-shadow: -6px -6px 24px -4px rgba(0, 0, 0, 0.12);
      }
      &:after {
        box-shadow: -6px 0px 14px -6px rgba(0, 0, 0, 0.12);
      }
    }

    &:focus, &:active {
      border: 1px solid $brand-second-color;
      &:before {
        border-top: 1px solid $brand-second-color;
        border-left: 1px solid $brand-second-color;
      }
      &:after {
        border-left: 1px solid $brand-second-color;
      }
    }
  }

  &.card-content-bloc {
    border-top: 3px solid $brand-third-color;
    padding-bottom: 1.3rem;

    &:before {
      border-top: 3px solid $brand-third-color;
      top: -3px
    }
  }

  a:hover {
    text-decoration: none;
  }

  & > * {
    z-index: 1;
  }
}

.card-body {
  padding: 1.5rem 1.3rem 1.5rem 0;
  z-index: 1;
  background-color: white;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
}