// brand colors
$brand-first-color: #007DAB;
$brand-second-color: #84CEE5;
$brand-third-color: #0099C9;
$brand-fourth-color: #006A91;
$brand-fifth-color: #E26524;
$brand-sixth-color: #58585A;

// greyscale
$grey-60: rgba(88, 88, 90, 0.6); //#58585A
$grey-70: rgba(88, 88, 90, 0.7);  //#58585A
$grey-extradark: #333;
$grey-dark: #666;
$grey-medium: #828282;
$grey-light: #BDBDBD;
$grey-extralight: #E5E5E5;

// status colors
$status-encours-color: #0288D1;
$status-relecture-color: #E65100;
$status-controle-color: #D84315;
$status-arevoir-color: #8E24AA;
$status-accepte-color: #2E7D32;
$status-rejet-color: #795548;
$status-brouillon-color: #546E7A;