// import bootstrap
//@import 'bootstrap/bootstrap-user-variables';
//@import 'bootstrap/bootstrap-reboot';
//@import 'bootstrap/bootstrap';
//@import 'bootstrap/bootstrap-grid';

// import the basics
@import "colors";
@import "fonts";
@import "normalize";

.table-list{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  position: relative;

  & > thead > tr > th {
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: $grey-medium;
    -webkit-font-smoothing: antialiased;
    border: 0;
    border-bottom: 3px solid #E9E9E9;
    background-color: white;
    padding: 1.2rem 1rem;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.estimation-list {
  font-family: "Roboto";

  .estimation-list-filter {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: $grey-dark;

    span {
      border-right: 2px solid $grey-dark;
      padding: 0 2rem;
      margin: 1.2rem 0;

      a {
        color: $grey-dark;
      }

      &:first-child {
        padding-left: 0
      }
      &:last-child {
        border-right: 0
      }
    }

    .estimation-list-sort {
      &::after {
        content: '\e313';
        font-family: 'Material Icons';
        font-feature-settings: 'liga';
        border: 0;
        vertical-align: bottom;
        font-size: 24px;
        -webkit-font-smoothing: antialiased;
        width: auto;
        height: auto;
        margin-left: 0
      }
    }
  }

  .estimation-table {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    position: relative;

    & > thead > tr > th {
      font-size: 14px;
      line-height: normal;
      text-align: center;
      color: $grey-medium;
      -webkit-font-smoothing: antialiased;
      border: 0;
      border-bottom: 3px solid #E9E9E9;
      background-color: white;
      padding: 1.2rem 1rem;
      white-space: nowrap;
      vertical-align: middle;

      &.estimation-table-name-heading {
        color: $grey-dark
      }
    }

    & > tbody {
      & > tr {
        &.selected {
          & > td:last-child {
            vertical-align: top;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              width: 45%;
              height: 59px;
              border: 1px solid #E9E9E9;
              box-sizing: border-box;
              box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
              border-right: 0;
            }

            &:after {
              content: '';
              position: absolute;
              left: calc(45% - 10px);
              width: 12px;
              height: 57px;
              margin-top: 1px;
              background-color: white;
            }
          }
          .card {
            display: block
          }
        }

        // &:last-child {
        // 	.card-overview {
        // 		&:before, &:after {
        // 			content:none;
        // 		}
        // 		width: 55%;
        // 		padding-left: 30px;
        // 	}
        // }

        & > td {
          font-size: 16px;
          line-height: 19px;
          color: $brand-sixth-color;
          border: 0;
          border-bottom: 1px solid #E9E9E9;
          background-color: white;
          vertical-align: middle;
          height: 60px;
          padding: 0 1rem;

          &.estimation-table-name-cell {
            font-family: "Roboto";
            font-weight: bold;
            color: $grey-dark;
            text-decoration: underline;
            white-space: nowrap
          }

          span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 60px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }
    }

    .estimation-table-overview-cell > .card-overview {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: calc(55% - 40px);
      min-height: 100%;
    }
  }

  .custom-checkbox {
    width: 24px;
    height: 24px;
  }
  .custom-control-label {
    width: 24px;
    height: 24px;

    &:before {
      background: rgba(255, 255, 255, 0.6);
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.12);
      border-radius: 3px;
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}