<div class="modal-header modal-drag">
  <button type="button" class="close" id="close_copy_modal" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel"><%= I18n.t (:organization_copy) %></h3>
</div>

<div class="modal-body" style="max-height:100px; margin-top: 20px;">
  <div id="display_animation_ajax_loader">
    <h4 style=" margin-bottom: 20px;">
      <%= I18n.t(:wait_message_for_organization_copy) %>
      <%= "Le popup va se fermer dans quelques secondes, la copie de l'organisation va continuer... " %>
    </h4>
    <%= image_tag 'animate-ajax-loader.gif' %>
  </div>

  <%#= button_tag 'Reset', type: 'reset', class: "btn" %>
  <%#= button_tag :class => "btn btn-danger pull-right", :type => "reset", :data => { :disable_with => "Annulation en cours" } do %>
      <%#= I18n.t("cancel") %>
  <%# end %>
</div>

<!--<div class="modal-footer">-->
  <!--<button class="btn" data-dismiss="modal" aria-hidden="true"><%#= I18n.t(:close) %></button>-->
  <!--<button class="btn btn-primary"><%#= I18n.t(:cancel_copy) %></button>-->
<!--</div>-->

<script>
    window.setTimeout(function() {
        $('#modal-window').modal('hide');
    }, 5000);

</script>