<p>
  Vous pouvez filter les devis par date de création  : <br>
</p>

<div class="row-fluid">
  <div class="col-3">
    <label><b><%= 'Date min' %></b></label>
    <%= text_field_tag :date_min, '', class: 'date-picker form-control' %>
  </div>

  <div class="col-3">
    <label><b><%= 'Date max' %></b></label>
    <%= text_field_tag :date_max, '', class: 'date-picker form-control' %>
  </div>
</div>


</br>