
<%= form_tag(set_rights_path, :method => 'post', :class => 'simple_form') do %>

  <%= render partial: "auth_global_permissions" %>

  <div class="hidden">
    <%= render partial: "auth_organization_permissions" %>
    <%= render partial: "auth_modules_permissions" %>
  </div>

<% end %>