<div id="tabs-filtered_excel_report">
  <span>
    <h2>
      <%#= I18n.t('extract_raw_data') %>
      <%= I18n.t("#{@item_title}") %>
    </h2>
  </span>
</div>

  <br>
  <p>
    Rapport synthèse des devis remplace l’extraction des données brutes : onglet Synthèse (mai 2021).<br>
    <!--Nous faire une demande par mail à support@estimancy.com si besoin des autres onglets). <br>-->
  </p>

<br>
<div class="card-body">
  <% if current_user.super_admin? %>
    <%= form_tag raw_data_extraction_path(organization_id: @organization.id, item_title: @item_title) do %>

      <%= render partial: "tabs_report_raw_data_filter" %>

      <div class="row-fluid">
        <div class="col-12">
          <%= submit_tag I18n.t(:Generate_Report), class: "btn btn-primary btn-estimancy" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>
      L'extraction des données brutes est momentanément suspendue.
      <br>
      Merci de contacter le support Estimancy pour effectuer votre demande à l'adresse support@estimancy.com
    </p>
  <% end %>

</div>