<!--<div id="tabs-profiles" class="edition-page-group py-4"><span><%#= I18n.t('profiles') %></span></div>-->
<% if can? :show_organization_profiles, OrganizationProfile %>
    <%= render :partial => 'organizations/profiles' %>
<% else %>
    <div class="red_color"><%= I18n.t(:notice_cannot_view_organization_profiles) %></div>
<% end %>
<br><br>